node_modules/

.env
.env.local

# API
apps/api/dist/
apps/api/build/
apps/api/uploads/

# Mobile
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/.expo-shared/

# React Native
apps/mobile/android/
apps/mobile/ios/
