# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/
.expo/
web-build/

# Prisma
*.db
.prisma/

# Expo
.expo-shared/
.expo/*
.expo-dev/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db